* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    padding: 2rem 0;
    background-color: #00F0FF;
}
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo {
    width: 100px;
    height: auto;
}
#main-nav ul {
    display: flex;
    flex-direction: row;
}
#main-nav li, #auth-nav li {
    list-style: none;
    margin: 0 1.5rem;
}
a {
    text-decoration: none;
    color: black;
}
main {
    padding: 2rem;
    flex: 1;
}
main h1 {
    text-align: center;
}
main p {
    text-align: center;
    padding-top: 2rem;
}
form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
    margin-top: 2rem;
    border: 3px solid black;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    background-color: #FFA900;
}
form input, form label, form textarea {
    margin-bottom: 1rem;
}
form input, form textarea {
    border-radius: 10px;
    padding: 0.5rem 0.25rem;
    border: 2px solid black;
}
.submit {
    background-color: #FF6800;
}
footer {
    text-align: center;
    background-color: #00FF81;
    padding: 2rem 0 1rem;
}